In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("heart-train.csv",sep=';')
print(df)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
4          4  17474       1     156    56.0    100     60            1     1
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio
0          0     0       1       0
1          0     0       1       1
2          0     0       0       1
3          0     0       1       1
4          0     0       0       0
...      ...   ...     ...     ...
69995      1     0       1       0
69996      0     0       1       1
69997      0     1       0       1
69998      0     0       0       1
69999      0     0       1       0

[70000 rows x 13 columns]

In [3]:
nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())

df = df.dropna(how='all')
df.head(70000 )

Empty DataFrame
Columns: [id, age, gender, height, weight, ap_hi, ap_lo, cholesterol, gluc, smoke, alco, active, cardio]
Index: []

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [4]:
print(df.columns)

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [5]:
df.to_csv('training-data.csv', index=False)

In [6]:
all_data = pd.read_csv("training-data.csv")
print(all_data)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
4          4  17474       1     156    56.0    100     60            1     1
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio
0          0     0       1       0
1          0     0       1       1
2          0     0       0       1
3          0     0       1       1
4          0     0       0       0
...      ...   ...     ...     ...
69995      1     0       1       0
69996      0     0       1       1
69997      0     1       0       1
69998      0     0       0       1
69999      0     0       1       0

[70000 rows x 13 columns]

In [7]:
print(all_data.columns)

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

feature selection : obesity,cholesterol,gluc,smoke,alco,activeness,hypertension

### we have to calculate obesity first , for that we need to know the body mass index (BMI)

In [8]:
all_data['BMI']= (all_data['weight']/(all_data['height']* all_data['height']))*10000
print(all_data)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
4          4  17474       1     156    56.0    100     60            1     1
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio        BMI
0          0     0       1       0  21.967120
1          0     0       1       1  34.927679
2          0     0       0       1  23.507805
3          0     0       1       1  28.710479
4          0     0       0       0  23.011177
...      ...   ...     ...     ...        ...
69995      1     0       1       0  26.927438
69996      0     0       1       1  50.472681
69997      0     1       0       1  31.353579
69998      0     0       0       1  27.099251
69999      0     0       1       0  24.913495

[70000 rows x 14 columns]

now if BMI is less than 18.5 the person has obesity

In [9]:
def assign_value(x):
    if x < 18.5:
        return 1
    else:
        return 0

all_data['obesity'] = all_data['BMI'].apply(lambda x: assign_value(x))

print(all_data)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
4          4  17474       1     156    56.0    100     60            1     1
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio        BMI  obesity
0          0     0       1       0  21.967120        0
1          0     0       1       1  34.927679        0
2          0     0       0       1  23.507805        0
3          0     0       1       1  28.710479        0
4          0     0       0       0  23.011177        0
...      ...   ...     ...     ...        ...      ...
69995      1     0       1       0  26.927438        0
69996      0     0       1       1  50.472681        0
69997      0     1       0       1  31.353579        0
69998      0     0       0       1  27.099251        0
69999      0     0       1       0  24.913495        0

[70000 rows x 15 columns]

get the people having obesity

In [10]:
obesity = all_data['obesity']==1
obesity_people = df[obesity]
print(obesity_people)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
23        33  23376       2     156    45.0    110     60            1     1
107      142  14499       2     164    48.0    110     70            1     2
108      143  15440       2     174    54.0    130     80            2     2
187      254  19081       2     175    53.0    140     80            1     1
432      614  17425       1     165    47.0    110     80            1     2
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69734  99600  22505       1     156    43.0    150    100            1     1
69797  99689  17575       1     164    45.0    115     70            1     1
69864  99784  19667       2     175    52.0    110     70            1     1
69908  99856  14823       1     152    42.0    120     80            1     1
69919  99871  17312       1     159    45.0    110     70            2     2

       smoke  alco  active  cardio
23         0     0       1       0
107        1     1       1       1
108        0     0       1       1
187        1     0       1       1
432        0     0       1       0
...      ...   ...     ...     ...
69734      0     0       1       1
69797      0     0       1       0
69864      0     0       1       0
69908      0     0       1       0
69919      0     0       1       0

[650 rows x 13 columns]

In [11]:
#graph for obesity


### now we should get the hypertension data of the people

In [12]:
def classify_hypertension(ap_hi, ap_lo):
    if ap_hi >= 140 or ap_lo >= 90:
        return "Stage2"
    elif 130 <= ap_hi <= 139 or 80 <= ap_lo <= 89:
        return "Stage1"
    elif 120 <= ap_hi <= 129 and ap_lo < 80:
        return "Elevated"
    else:
        return "Normal"
all_data['hypertension'] = all_data.apply(lambda row: classify_hypertension(row['ap_hi'], row['ap_lo']), axis=1)
print(all_data)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
4          4  17474       1     156    56.0    100     60            1     1
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio        BMI  obesity hypertension
0          0     0       1       0  21.967120        0       Stage1
1          0     0       1       1  34.927679        0       Stage2
2          0     0       0       1  23.507805        0       Stage1
3          0     0       1       1  28.710479        0       Stage2
4          0     0       0       0  23.011177        0       Normal
...      ...   ...     ...     ...        ...      ...          ...
69995      1     0       1       0  26.927438        0       Stage1
69996      0     0       1       1  50.472681        0       Stage2
69997      0     1       0       1  31.353579        0       Stage2
69998      0     0       0       1  27.099251        0       Stage1
69999      0     0       1       0  24.913495        0       Stage1

[70000 rows x 16 columns]

### Group by hypertension

In [14]:
hyper = all_data[(all_data['hypertension'] == "Stage1") | (all_data['hypertension'] == "Stage2")]

print(hyper)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
5          8  21914       1     151    67.0    120     80            2     2
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio        BMI  obesity hypertension
0          0     0       1       0  21.967120        0       Stage1
1          0     0       1       1  34.927679        0       Stage2
2          0     0       0       1  23.507805        0       Stage1
3          0     0       1       1  28.710479        0       Stage2
5          0     0       0       0  29.384676        0       Stage1
...      ...   ...     ...     ...        ...      ...          ...
69995      1     0       1       0  26.927438        0       Stage1
69996      0     0       1       1  50.472681        0       Stage2
69997      0     1       0       1  31.353579        0       Stage2
69998      0     0       0       1  27.099251        0       Stage1
69999      0     0       1       0  24.913495        0       Stage1

[57267 rows x 16 columns]